<template>
  <div>
    <h1>ctreate todo App</h1>
    <AddTodo />
    <TodoList />
  </div>
</template>

<script>
import TodoList from '../components/todolist.vue';
import AddTodo from '@/components/addTodo.vue';
export default {
  name: 'Index',
  components: { TodoList, AddTodo },
  setup() {
    return {};
  },
};
</script>

<style lang="scss" scoped></style>
