<template>
  <div>
    name
    <input type="text" v-model="task.name" />

    Completed
    <input type="checkbox" v-model="task.isCompleted" />

    <button @click="addTodo">addTodo</button>
  </div>
</template>

<script>
import { reactive } from '@vue/reactivity';
import { v1 as uuidv1 } from 'uuid';

import { useStore } from 'vuex';
export default {
  setup() {
    const store = useStore();
    const task = reactive({
      id: uuidv1(),
      name: null,
      isCompleted: false,
    });

    const addTodo = () => {
      store.dispatch('TodoApp/addItem', task);
      task = null;
    };

    return { task, addTodo };
  },
};
</script>

<style lang="scss" scoped></style>
