<template>
  <div v-for="list in todoAllList" :key="list.id">
    {{ list.name }}
    <input
      type="checkbox"
      :checked="list.isCompletd"
      @click="checked(list.id, list.isCompletd)"
    />

    <button @click="deleteItem(list.id)">Delete</button>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
export default {
  setup() {
    const store = useStore();
    const todoAllList = computed(() => {
      return store.getters['TodoApp/getTodoList'];
    });

    const deleteItem = (id) => {
      store.dispatch('TodoApp/deleteItem', id);
    };

    const checked = (id, isCompletd) => {
      store.dispatch('TodoApp/updateItem', { id, isCompletd });
    };

    return { todoAllList, deleteItem, checked };
  },
};
</script>

<style lang="scss" scoped></style>
